/* Estilos específicos del template */
.custom-big-image-button {
    font-size: 20px;
    border-radius: 5px;
}

.custom-big-image-button:hover {
    cursor: pointer;
}

.leaflet-control-measure .results .group:first-child {
    height: 0;
    color: rgb(0, 0, 0, 0);
}

#map.custom-cursor {
    cursor: crosshair;
}
#map{
    background-color:#dcdae5;
    box-shadow: 1px 1px 10px rgb(100, 99, 99); 
    top:3rem;
    left: 5% ;
    border-radius:10px;
    width:90%;
    height: 85%
}
.volverButton{
    position: absolute;
    bottom: 20px;
    left: calc(50% - 130px);
    width: 260px;
    z-index: 1000;
    border-radius: 10px;

} 
#zoom-level {
    position: relative;
    z-index: 1000;
    width:110px;
    height: 40px;
    font-size: 20px;
    top: 10px;
    left: calc(50% - 45px);
    background: rgba(255, 255, 255, 0.85);
    padding-top: 5px; 
    text-align: center;
    /* vertical-align: middle; */
    border-radius: 20px;
}
@media (max-width: 1000px) {
    #map {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 0;
    }
    .container {
        padding: 0;/* Oculta el panel por defecto */
    }
  }