# MODO: development | production
MODE=development
SECRET_KEY=put_a_secret_here_or_generate
DOMAIN=localhost
EMAIL=admin@example.com


POSTGRES_DB=microscopio
POSTGRES_USER=postgres
POSTGRES_PASSWORD=microVirtual


DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin123