iica_plataforma/media/archivo/*
letsencrypt/*
**/migrations/*
**/staticfiles/*
**/venv/*
.env/

!iica_plataforma/media/archivo/
!**/__init__.py
iica_plataforma/docs
iica_plataforma/iica_plataforma/settings.py

# Ignorar archivos y carpetas específicos
**/__pycache__/*
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.log

# Ignorar archivos generados por el sistema
.DS_Store
Thumbs.db


# Ignora archivos generados automáticamente por el sistema operativo
.DS_Store


# Ignora archivos locales de configuración
local_settings.py
*/nginx.conf
*/settings.py
