# ======================
# Django
# ======================
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.db
*.log

# ======================
# Entornos virtuales
# ======================
venv/
**/venv/

# ======================
# Variables sensibles
# ======================
.env
local_settings.py
iica_plataforma/iica_plataforma/settings.py

# ======================
# Media y static (generados)
# ======================
iica_plataforma/media/*
iica_plataforma/staticfiles/*

# Mantener estructura de carpetas
!iica_plataforma/media/.gitkeep

# ======================
# Migraciones (opcional)
# ======================
**/migrations/*.py
!**/migrations/__init__.py

# ======================
# Docker / Nginx
# ======================
letsencrypt/
nginx.conf

# ======================
# Docs generados
# ======================
iica_plataforma/docs/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

.env
*.env